<% present familiar do |presenter| %>

<li class="familiar thumb">
  <%= presenter.image(:div,:thumb) %>
  <%= presenter.name %>
  <%= presenter.median len %>
  <%= presenter.sales_count %>
  <%= presenter.stats %>
  <%= presenter.skills %>
  <%= presenter.max_damage %>
  <%= presenter.actions %>
  <%= presenter.clear_div %>
</li>

<% end %>
